* {
    box-sizing: border-box;
}

body {
    background-image: url(./360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn {
    border-color: transparent;
}

header h1 {
    color: white;
    font-size: 60px;
}

label {
    font-size: 25px;
    color: white;
    font-weight: 300;
}

.list-group h2 {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

#search-container {
    background-color: transparent;
    border-color: transparent;
}

#search-container #searchCard {
    color: white;
}